<a href="https://colab.research.google.com/github/felixsimard/comp551-p2/blob/main/P2_TextClassification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Part 2: Text Classification (20 points)**

In [7]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

# Constants

#### Preprocessing

In [12]:
# Define dataset paths
fake_new_train_dir = r'fake_news/fake_news_train.csv'
fake_news_val_dir = r'fake_news/fake_news_val.csv'
fake_news_test_dir = r'fake_news/fake_news_test.csv'

# Load datasets
fake_news_train = pd.read_csv(fake_new_train_dir)
fake_news_val = pd.read_csv(fake_news_val_dir)
fake_news_test = pd.read_csv(fake_news_test_dir)

fake_news_train

                                                    text  label
0      Indian fruit is so important to so many people...      0
1      FORT WORTH, Texas — Urú Inc. will hold a confe...      0
2      With three of the four new carriers, the Niger...      0
3      Let's start with the classic annual dividend r...      0
4      Following are some of the major events to have...      1
...                                                  ...    ...
19995  Warning: small, petty spoilers for the Game of...      1
19996  Shilpa Shetty will soon make her Bollywood deb...      0
19997  Add a digital black hole image to the Allstate...      0
19998  Share\nThe name W. L. Gore & Associates might ...      1
19999  A comprehensive report recapping developments ...      1

[20000 rows x 2 columns]

In [13]:
# Make a preprocessing function
def apply_preprocessing(df):
    return 0